*#*#
*.#*
*.iml
*.ipr
*.iws
*.pyc
*.pyo
*.swp
*~
.DS_Store
.cache
__pycache__
.classpath
.data/
.idea/
.idea_modules/
.ipynb_checkpoints/
.project
.pydevproject
.settings
OK/*
Data/Text/*.vec
Data/MNIST
data/*
./expO*.py
results/*
figs/*
models/*
*.pdf